## Databricks Task 1

1. Upload given csv file and find the average salary for each gender.
2. Using Pyspark select employees from Thrissur and salary > 32000.
3. Add a new column named ‘Bonus’, where the salary increased by 5000 for all employees.
4. Delete the place column and save this in a new dataframe.

## Data to be loaded

/FileStore/tables/EmployeeData.csv

In [0]:
# Read the csv file 

emp_df = spark.read\
.option("inferSchema",True)\
.option("Header", True)\
.csv("/FileStore/tables/EmployeeData.csv")

display(emp_df)

EMP_ID,NAME,GENDER,SALARY,DEPT,PLACE
1,Arjun,Male,35000,DS,Thrissur
2,Shweta,Female,38000,DE,Kochi
3,Anu,Female,33000,DE,Kozhikode
4,Supriya,Female,35000,DS,Thrissur
5,Ravi,Male,38000,BI,Kollam
6,Krishnan,Male,34000,BI,Thrissur
7,Sachin,Male,34000,DE,Thrissur
8,Keerthi,Female,30000,DE,Palakkad
9,Gopika,Female,35000,DS,Kannur
10,Vishnu,Male,36000,BI,Kochi
11,Aparna,Female,32000,BI,Kochi
12,Vaishnavi,Female,38000,DS,Palakkad
13,Anand,Male,35000,DE,Kozhikode
14,Jaison,Male,36000,DE,Kochi
15,Mariya,Female,32000,BI,Malappuram

In [0]:
emp_df.printSchema()

root
 |-- EMP_ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- DEPT: string (nullable = true)
 |-- PLACE: string (nullable = true)

In [0]:
#  Find the average salary for each gender

from pyspark.sql.functions import avg

Avg_sal_by_gender = emp_df.groupBy("GENDER").avg("SALARY").withColumnRenamed("avg(SALARY)","Average_Salary_By_Gender")
display(Avg_sal_by_gender)

GENDER,Average_Salary_By_Gender
Female,34125.0
Male,35428.57142857143

In [0]:
# Select employees from Thrissur and salary > 32000.

emp_filt = emp_df.filter("PLACE = 'Thrissur' and SALARY > 32000")
display(emp_filt)

EMP_ID,NAME,GENDER,SALARY,DEPT,PLACE
1,Arjun,Male,35000,DS,Thrissur
4,Supriya,Female,35000,DS,Thrissur
6,Krishnan,Male,34000,BI,Thrissur
7,Sachin,Male,34000,DE,Thrissur

In [0]:
# Add a new column named ‘Bonus’, where the salary increased by 5000 for all employees.
from pyspark.sql.functions import col

df_new = emp_df.withColumn("Bonus", col("SALARY") + 5000)
display(df_new)

EMP_ID,NAME,GENDER,SALARY,DEPT,PLACE,Bonus
1,Arjun,Male,35000,DS,Thrissur,40000
2,Shweta,Female,38000,DE,Kochi,43000
3,Anu,Female,33000,DE,Kozhikode,38000
4,Supriya,Female,35000,DS,Thrissur,40000
5,Ravi,Male,38000,BI,Kollam,43000
6,Krishnan,Male,34000,BI,Thrissur,39000
7,Sachin,Male,34000,DE,Thrissur,39000
8,Keerthi,Female,30000,DE,Palakkad,35000
9,Gopika,Female,35000,DS,Kannur,40000
10,Vishnu,Male,36000,BI,Kochi,41000
11,Aparna,Female,32000,BI,Kochi,37000
12,Vaishnavi,Female,38000,DS,Palakkad,43000
13,Anand,Male,35000,DE,Kozhikode,40000
14,Jaison,Male,36000,DE,Kochi,41000
15,Mariya,Female,32000,BI,Malappuram,37000

In [0]:
# Delete the place column and save this in a new dataframe.

new_df = emp_df.drop('PLACE')
display(new_df)

EMP_ID,NAME,GENDER,SALARY,DEPT
1,Arjun,Male,35000,DS
2,Shweta,Female,38000,DE
3,Anu,Female,33000,DE
4,Supriya,Female,35000,DS
5,Ravi,Male,38000,BI
6,Krishnan,Male,34000,BI
7,Sachin,Male,34000,DE
8,Keerthi,Female,30000,DE
9,Gopika,Female,35000,DS
10,Vishnu,Male,36000,BI
11,Aparna,Female,32000,BI
12,Vaishnavi,Female,38000,DS
13,Anand,Male,35000,DE
14,Jaison,Male,36000,DE
15,Mariya,Female,32000,BI